<IfModule mod_rewrite.c>
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php
</IfModule>

# disable directory browsing
Options All -Indexes
# PREVENT FOLDER LISTING
IndexIgnore *

ErrorDocument 403 '<p align="center" style="font-size: 100px; font-weight: bold;">Back Dulu</p>'